.main__footer {
    background: url('./images/bg-pattern-footer-desktop.svg') no-repeat;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 98%);
}

.main__footer__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 10%;
}

.social-right {
    display: inline-flex;
}

.main-footer__links {
    display: inline-flex;
    justify-content: space-evenly;
}

.main-footer__link {
    padding: 0 10px;
    list-style: none;
}

.footer__sitemap__links {
    display: inline-flex;
    height: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 10%;
}

.sitemap {
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
}

.sitemap ul {
    list-style: none;
    padding: 0;
}

.sitemap span {
    color: hsl(273, 4%, 51%);
    margin-bottom: 25px;
    text-transform: uppercase;
}

.sitemap li {
    padding: 10px 0;
}

.sitemap a {
    text-decoration: none;
    text-transform: uppercase;
    color: hsl(256, 26%, 20%);
    font-weight: 700;
}

@media (max-width: 768px) {
    .main__footer {
        background: url('../images/bg-pattern-footer-mobile.svg') no-repeat;
        background-size: contain;
    }
    .main__footer__social {
        flex-direction: column;
        margin: 17% 0;
        padding: 0;
    }
    .social-right {
        margin-top: 7%;
    }
    .footer__sitemap__links {
        flex-direction: column;
        padding: 0;
        text-align: center;
        margin: 15% 0;
    }
    .sitemap {
        margin-bottom: 3rem;
    }
}